<div class="bib-header">
    <span style="display:block;" class="block">Publications ordered by <b><i>{{page.sorting}}</i></b> in reverse chronological order.</span>
    <span class="block">Order by:</span>
    <a href="/publications/{{ page.pubtype }}" class="fas fa-sort btn" role="button" title="Type"> {{ page.pubtype }}</a>
</div>