/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/
 * {
  transition: all 0.3s ease-out;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-image: linear-gradient(-45deg, var(--global-theme-color), 1%, $grey-color-mid 100%);
  border-radius: 0 4px 0 32px;
}

.fa-expand-alt {
  margin-top: -7px;
  margin-right: -7px;
  color: white;
}

.card-horizontal {
  height: auto;
  display: flex;
}

.projects
  .grid-item {
    width: 250px;
    margin-bottom: 10px;
  }
  .card {
    &:hover {
    .fa-expand-alt {
      font-size: 1.5em;
    }
    .go-corner {
      width: 45px;
      height: 45px;
    }
  }

  .card-img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .card-body {
    .project-title {
      color: $red-color-dark;
    }
    .span-year {
      display: block;
    }
    .span-space {
      margin-bottom: 10px;
    }
  }
}

.projects {
  .hidden {
    height: auto;
    display: flex;
    font-size: 1rem;
    max-height: 0px;
    overflow: hidden;
    text-align: justify;
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -ms-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: all 0.15s ease;
    border: dashed 1px white;

    p {
      line-height: 1.4em;
      margin: 10px;
    }
    pre {
      font-size: 1em;
      line-height: 1.4em;
      padding: 10px;
    }
  }

  .hidden.open {
    max-height: 100em;
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -ms-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: all 0.15s ease;
    border-color: $grey-color;
  }
}

// Typography

p, h1, h2, h3, h4, h5, h6, em, div, span, strong {
  color: var(--global-text-color);
}

a, table.table a {
  color: var(--global-theme-color);
  &:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
  }
  &:hover:after {
    width: 100%;
  }
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

// Citation
.citation, .citation-number {
  color: var(--global-theme-color);
}

// Profile

.profile {
  margin-left: 1rem;
  width: 100%;

  .address {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: monospace;
    font-size: 1.2rem;
    p {
      display: inline-block;
      margin: 0;
    }
  }
}

@media (min-width: 576px) {
  .profile {
    width: 30%;
    .address {
      p { display: block; }
    }
  }
}

.post-description {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  a {
    color: inherit;
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}


// Navbar customization

.navbar {
  box-shadow: none;
  border-bottom: 1px solid $grey-color-light;
  background-color: var(--global-bg-color);
  opacity: 0.95;
  height:65px;
}
.navbar.navbar-light {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-brand {
    color: var(--global-text-color);
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color);
    &:hover {
      color: var(--global-link-hover-color);
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      font-weight: bolder;
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-link-hover-color);
      }
  }
  .navbar-brand.social {
    padding-bottom: 0;
    padding-top: 0;
    .contact-icons {
      a {
        font-size: 2rem;
        i::before {
          color: var(--global-icon-color);
          // -webkit-transition: all 0.2s ease-in-out;
        }
        &:hover {
          i::before {
            color: var(--global-theme-color);
            text-shadow: 0 0 3px #000;
          }
        }
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-icon-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}


// News

.news table td {
  font-size: 1rem;
  color: var(--global-text-color);
  .news-title {
    color: $red-color-dark;
    a {
      color: $red-color-dark;
    }
  }
}

.news table th {
  color: var(--global-text-color);
}

// bibliography header
.block {
  padding-top: 5px;
  width: auto;
  display: inline-block;
}

.bib-indentation {
  margin-left: 20px;
}

.blue-mark {
    color: blue;
    background-color: white;
}

.navy-mark {
    color: navy;
    background-color: white;
}

// Social (bottom)

.social {
  text-align: center;
  .contact-icons {
    font-size: 3rem;
    a {
      i::before {
        color: var(--global-icon-color);
        -webkit-transition: all 0.2s ease-in-out;
        
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
          text-shadow: 0 0 3px #000;
        }
      }
    }
  }
  .contact-note {
    font-size: 0.8rem;
  }
}


// Footer
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.8rem;
  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
  }
  a {
    color: white;
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid $grey-color-light;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}


// Blog

.header-bar {
  border-bottom: 1px solid $grey-color-light;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
  }
}

.post {
  .post-content {
    a {
      color: $red-color-dark;
    }
    .post-image {
      max-width: 40%;
      margin: 0 auto;
    }
  }
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  li {
    border-bottom: 1px solid $grey-color-light;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .post-meta {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    a {
      color: var(--global-text-color);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: var(--global-text-color);
      &:hover {
        color: $black-color;
      }
    }
    &.active .page-link {
      background-color: var(--global-theme-color);
      &:hover {
        background-color: var(--global-theme-color);
      }
    }
  }
}


// Distill

.distill {
  a:hover {
    border-bottom-color: var(--global-theme-color);
    text-decoration: none;
  }
}


// Projects

.projects {
  .grid-item {
    width: 250px;
    margin-bottom: 10px;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
  .cv-grid-item {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }

  .card {
    img {
      width: 100%;
    }
    .card-title {
      color: $black-color;
    }
  }
  .cv-frame {
    position: relative;
    height: 60%;
    width: 100%;
    pointer-events: none;
    border: 0;
  }
  .card {
    margin-left: 10px;
    margin-right: 10px;
  }
}


// Publications
@media only screen and (min-device-width : 640px) {
  ol.bibliography {list-style-type: none;}
  ol.bibliography > li:before{
    content: "[" counter(bibitem) "]";
      position: absolute;
      padding-top: 26px;
      padding-left: 26px;
  }
  ol.bibliography > li {counter-increment: bibitem -1;}
}

.new-strong {
  font-weight: bold;
  font-size: large;
  background-color: $red-color-dark;
  color: white;
  border-radius: 3px;
  padding: 2px 5px;
}


  h2.year {
    color: $grey-color-mid;
    border-top: 1px solid $grey-color-light;
    padding-top: 1rem;
  }
  .type {
    color: $grey-color-mid;
    border-bottom: 1px solid $grey-color-light;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: right;
  }
  .year {
    color: $grey-color-mid;
    border-bottom: 1px solid $grey-color-light;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: right;
  }

.publications {
  margin-top: 2rem;
  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;
          a {
            color: white;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }
      span {
        display: block;
        a {
          align-items: center;
        }
      }
      .title {
        font-weight: bolder;
      }
      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }
      em.star {
        border-bottom: none;
        color: var(--global-theme-color);
        font-style: normal;
      }
      a.abstract, a.bibtex a.copybutton {
        cursor: pointer;
      }

      a.copybutton {
        margin-top: -15px;
        &:hover {
          color: var(--global-theme-color);
          text-shadow: 0 0 3px #000;
        }
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      .abstract.hidden {
        border: dashed 1px white;
      }
      .abstract.hidden.open {
        border-color: $grey-color;
      }

      .bibtex.hidden {
        font-family: monospace;
        border: dashed 1px white;
        font-size: 1em;
      }
      .bibtex.hidden.open {
        font-family: monospace;
        border-color: $grey-color;
        white-space: nowrap;
      }

    }
  }
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
  pre, code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}


// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}